#SPDX-License-Identifier: MIT-0
---
# handlers file for nginx_vhosts

- name: Start Nginx service on
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: yes



- name: Reload firewalld
  ansible.builtin.service:
    name: firewalld
    state: reloaded

- name: Reload Nginx
  ansible.builtin.service:
    name: nginx
    state: restarted