- name: Подключение переменных по ОС
  hosts: all
  gather_facts: true
  tasks:

    - name: Определить файл с переменной
      ansible.builtin.include_vars:
        file: "vars/{{ ansible_os_family | lower }}.yml"
        name: distro

    - name: Показать настройки для ОС
      ansible.builtin.debug:
        msg: "Для ОС {{ ansible_os_family }} используем пакет {{ distro.pkg_name }}"
