- name: Подключение нескольктх файлов с переменными
  hosts: all
  gather_facts: true
  tasks:

    - name: Загрузить все переменные
      ansible.builtin.include_vars:
        file: "{{ item }}"
      loop:
        - vars/networks.yml
        - vars/database.yml
        - vars/users.yml

    - name: Проверка доступа к переменным
      ansible.builtin.debug:
        msg:
          - "Сеть: {{ net_gateway }}"
          - "БД: {{ db_name }} на {{ db_host }}"
          - "Пользователь по умолчанию: {{ default_user }}"
