<!DOCTYPE html>
<html>
<head>
    <title>Добро пожаловать на {{ domain }}!</title>
</head>
<body>
    <h1>Виртуальный хост {{ domain }} работает!</h1>
    <p>Сервер: {{ inventory_hostname }}</p>
    <p>IP-адрес: {{ ansible_default_ipv4.address | default('N/A') }}</p>
    <p>ОС: {{ ansible_os_family }}</p>
</body>
</html>